{% extends 'secretpawapp/base.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h2>Secret Paws</h2>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    Your password has been set. You may go ahead and sign in now.
                </p>
            </div>
            <a href="http://localhost:8000/accounts/login/">
                <input type="button" id="loginRedirect" class="btn btn-success btn-lg btn-block" value="Login">
            </a>
        </div>
    </div>
{% endblock %}