{% load static %}
<html>
    <head>
        <title>Secret Paws</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/secretpaw.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'js/tinymce/jquery.tinymce.min.js' %}"></script>
        <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
        <script>
            $("a[data-toggle='tooltip']").tooltip();
            tinymce.init({
                selector: '.bbcode_editor',
                toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | fontsizeselect | forecolor backcolor",
                height: "480"
            });
        </script>
    </body>
</html>