<div class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true" id="characterDetails_{{ character.id }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">{{ character.name }}</h4>
                <a href="" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="character_id" value="{{ character.id }}">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            {% if character.picture %}
                                <img src="{{ MEDIA_URL }}{{ character.picture }}" class="card-img-top gift" alt="Your character">
                            {% endif %}
                            <div class="form-group">
                                <label for="inputCharacter">Character picture</label>
                                <input type="file" class="form-control-file"
                                       id="inputCharacter"
                                       aria-describedby="fileHelp" name="picture">
                                <small id="fileHelp" class="form-text text-muted">Max
                                    512x512,
                                    5mb, png/jpg only
                                </small>
                            </div>

                            <div class="form-group row">
                                <label for="inputAuthor"
                                       class="col-sm-4 col-form-label">Art by</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           id="inputAuthor" name="picture_author" value="{{ character.picture_author }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group row">
                                <label for="inputName"
                                       class="col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputName" name="name" value="{{ character.name }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputAge"
                                       class="col-sm-4 col-form-label">Age</label>
                                <div class="col-sm-8">
                                    <input type="number" min="0" max="1000000000"
                                           class="form-control" id="inputAge" name="age" value="{{ character.age }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputRace"
                                       class="col-sm-4 col-form-label">Race</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputRace" name="race" value="{{ character.race }}">
                                </div>
                            </div>
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-4 pt-0">Sex</legend>
                                    <div class="col-sm-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                   id="sexGirl"
                                                   value="W" name="sex" {% if "W" == character.sex %}checked{% endif %}>
                                            <label class="form-check-label radio-inline"
                                                   for="sexGirl">
                                                Girl
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                   id="sexBoy"
                                                   value="M" name="sex" {% if "M" == character.sex %}checked{% endif %}>
                                            <label class="form-check-label" for="sexBoy">
                                                Boy
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                   id="sexOther"
                                                   value="O" name="sex" {% if "O" == character.sex %}checked{% endif %}>
                                            <label class="form-check-label" for="sexOther">
                                                Other
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="selectAnimal">Animal</label>
                                <div class="col-sm-8">
                                    <select id="selectAnimal" name="tag" class="form-control" required>
                                            {% for tag in tags %}
                                               <option value="{{tag.id}}"
                                               {% if tag == character.tag %}selected="selected"{% endif %}>
                                               {{tag}}
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-4 pt-0">
                                        Save for work
                                    </legend>
                                    <div class="col-sm-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                   id="sfw" name="sfwRadio" {% if not character.nsfw.all %}checked{% endif %}>
                                            <label class="form-check-label" for="sfw">
                                                SFW
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                   id="nsfw" name="sfwRadio" {% if character.nsfw.all %}checked{% endif %}>
                                            <label class="form-check-label" for="nsfw">
                                                NSFW
                                            </label>
                                            <div id="nsfwDetails">
                                                {% for nsfw_type in nsfw_types %}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           name="nsfw[]"
                                                           id="nsfwType{{ nsfw_type.name }}"
                                                           value="{{ nsfw_type.id }}" {% if nsfw_type in character.nsfw.all %}checked{% endif %}>
                                                    <label class="form-check-label"
                                                           for="nsfwType{{ nsfw_type.name }}">{{ nsfw_type.name }}</label>
                                                    <a class="fa fa-question-circle help-tooltip"
                                                       data-original-title="{{ nsfw_type.description }}"
                                                       data-placement="right"
                                                       data-toggle="tooltip"></a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control bbcode_editor" id="description" rows="2"
                                          maxlength="250" name="description">{{ character.description }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="description">Hints for drawer</label>
                                {{ form_settings.hints.errors }}
                                <textarea class="form-control" id="description" rows="1"
                                          maxlength="100" name="hints">{{ character.hints }}</textarea>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary" name="character">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>