<div class="tab-pane active" id="profile">
    {% for field in form_characters %}
        <div class="form-group {%if field.errors %}has-error{%endif%}"></div>
    {% endfor %}
    <div class="container-fluid characters">
        <div class="row">
            <p class="lead">Characters</p>
        </div>
        <div class="row flex-row flex-nowrap mb-2">
            {% for character in characters.all %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                    <div class="card flex-fill">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="character_id" value="{{ character.id }}">
                            <button type="submit" class="close" name="character_delete" aria-label="Close">
                                <span aria-hidden="true" class="remove-character">×</span>
                            </button>
                        </form>
                        <a data-toggle="modal" data-target="#characterDetails_{{ character.id }}" href=""
                           class="deco-none">
                            {% if character.picture %}
                                <img class="card-img-top"
                                     src="{{ MEDIA_URL }}{{ character.picture }}"
                                     alt="Card image cap">
                            {% else %}
                                <img class="card-img-top"
                                     src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                                     alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text character-text">{{ character.name }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% include 'secretpawapp/profile/character.html' %}
            {% endfor %}
            {% include 'secretpawapp/profile/character.html' %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="container">
                    <div class="row align-middle plus-margin-100">
                        <div class="col-6">
                            <button type="button" class="close" aria-label="Close">
                                <a data-toggle="modal" data-target="#characterDetails_" href=""
                                   class="deco-none"><i class="fas fa-plus"></i></a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <p class="lead">Description</p>
        <hr>
        {{ profile.description | safe }}
    </div>
</div><!--/tab-pane-->