<div class="tab-pane active" id="profile">
    <div class="container-fluid characters">
        <div class="row">
            <p class="lead">Characters</p>
        </div>
        <div class="row flex-row flex-nowrap mb-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card flex-fill">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true" class="remove-character">&times;</span>
                    </button>
                    <a data-toggle="modal" data-target="#characterDetails" href=""
                       class="deco-none">
                        <img class="card-img-top"
                             src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text character-text">Qentinios</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card flex-fill">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true" class="remove-character">&times;</span>
                    </button>
                    <img class="card-img-top" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                         alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text character-text">Tyranozaurus Rex</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card flex-fill">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true" class="remove-character">&times;</span>
                    </button>
                    <img class="card-img-top" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                         alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text character-text">Que</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="container">
                    <div class="row align-middle plus-margin-100">
                        <div class="col-6">
                            <button type="button" class="close" aria-label="Close">
                                <span><i class="fas fa-plus"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <p class="lead">Description</p>
        <p>Bla bla bla</p>
    </div>
</div><!--/tab-pane-->