<div class="tab-pane" id="settings">
    <div>
        <p class="lead">Profile</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputAvatar">Avatar</label>
                {{ form_settings.avatar.errors }}
                <input type="file" class="form-control-file" id="inputAvatar"
                       aria-describedby="fileHelp" name="avatar">
                <small id="fileHelp" class="form-text text-muted">Max 5mb, png/jpg only
                </small>
            </div>
            <div class="form-group">
                <label for="inputStatus">Status</label>
                {{ form_settings.status.errors }}
                <input type="text" class="form-control" id="inputStatus" placeholder="Hii!" name="status" value="{{ form_settings.status.value|default:profile.status }}">
            </div>
            <div class="form-group">
                <label for="inputDescription">Description</label>
                {{ form_settings.description.errors }}
                <textarea class="form-control bbcode_editor" id="inputDescription" rows="12" name="description">{{ form_settings.description.value|default:profile.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="selectPreferences">What can I draw</label>
                {{ form_settings.tags.errors }}
                <select class="selectpicker" id="selectPreferences" multiple
                        data-max-options="2" data-min-options="2" name="tags" required>
                        {% for tag in tags %}
                           <option value="{{tag.id}}"
                           {% if tag in profile.tags.all %}selected="selected"{% endif %}>
                           {{tag}}
                        {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" name="settings">Submit</button>
        </form>
    </div>
    <hr>
    <div>
        <p class="lead">Account</p>
        <a href="http://localhost:8000/accounts/logout/" class="btn btn-secondary">Logout</a>
        <a href="http://localhost:8000/accounts/password_change/" class="btn btn-info">Change
            password</a>
    </div>
</div>