{% extends 'secretpawapp/base.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h2>Secret Paws</h2>
            <p class="lead">Activation has failed</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead">Activation link is invalid or has expired<p>
                <a class="btn btn-primary" type="submit" href="{% url 'django_registration_register' %}">Create an account</a>
            </div>
        </div>
    </div>
{% endblock %}